@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes rotateZ-360 {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}


@keyframes toast-show {
  0% {
    opacity: 0;
    transform: scale(0.4) translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes toast-hiden {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(50%) scale(0.8);
  }
}